@font-face {
  font-family: 'Waltograph';
  src: url('../font/waltograph42.otf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;

}

.bodyOtro {
  background-image: url("../img/card2.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3e4dbb;
  margin: 0;
}

.containerOtro {
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgb(24, 28, 37, 0.1);
  width: 1300px;
  text-align: center;
}

h1 {
  display: flex;
  font-family: 'Waltograph', cursive;
  font-size: 60px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card {
  /* width: 310px; */
  height: 400px;
  background: #fff;
  display: flex;
  align-items: flex-end;
  padding: 2rem 1rem;
  position: relative;
  transition: 0.5s all ease-in-out;
  margin-bottom: 20px;
}

.card:hover {
  transform: translateY(-10px);
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgb(49, 0, 66, 0.3), rgba(13, 36, 63, 1));
  z-index: 2;
  opacity: 0;
  transition: 0.5s all;
}

.card:hover::before {
  opacity: 1;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.card .info {
  position: relative;
  color: #fff;
  z-index: 3;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
}

.card:hover .info {
  opacity: 1;
  transform: translateY(0);
}

.card .info h1 {
  line-height: 40px;
  margin-bottom: 10px;
}

.card .info p {
  font-size: 15px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.card .info .btn {
  background: #fff;
  padding: 0.5rem 1rem;
  color: #000;
  font-size: 12px;
  cursor: pointer;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  transition: .4s ease-in-out;
}

.card .info .btn:hover {
  background: #fc5185;
  color: #fff;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);
}
